<section id="todos">
  <header>
    <h2>Editing "<%= @list[:name]%>"</h2>
  </header>
  
  <form action="/lists/<%= @id %>/delete" method="post" class="inline">
    <ul>
      <li>
        <fieldset class="actions">
          <input type="submit" value="Delete List" class="delete-button">
        </fieldset>
      </li>
    </ul>
  </form>
<header>
</section>

<form action="/lists/<%= params[:id] %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the new name for your list:</label>
    </dt>
    <dd>
      <input name="list_name" type="text" value=<%= params[:list_name] || @list[:name] %>>
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= params[:id] %>">Cancel</a>
  </fieldset>
</form>

